@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: #4b5d42;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.menu-button{
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

a{
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

a:hover{
    cursor: pointer;
    color: lightblue;
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

@media (max-width: 1000px){
    nav{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
    }
}

@media (max-width: 768px){
    nav{
        display: none;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 110px;
        right: 0;
        background-color: #5d7452;
        width: 50%;
        text-align: center;
        padding: 1rem 0;
        border-radius: 10px;
    }

    .menu-button{
        display: block;
    }

    header button{
        width: 40%;
        height: 10%;
        padding: 0 15px;
        border-radius: 5px;
    }

    header button:hover {
        background-color: #556b4a;
        cursor: pointer;
    }

    nav.active{
        display: flex;
    }
}

.income-head{
    color: black;
}

.maincontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
    padding: 5rem 15rem;
    width: auto;
    color: #333;
    border: #556b4a solid 2px;
    border-radius: 10px;
    background-color: #cdcfc0;
}

.titlecontainer,
.innercontainer {
    flex: 1;
    font-family: 'Montserrat Alternates';
    margin: 10px;
}

.titlecontainer h1 {
    font-size: 4rem;
    font-weight: normal;
}

.titlecontainer h2 {
    font-size: 1rem;
    font-weight: 200;
    color: #666;
}

.innercontainer {
    background-color: #f1ebe5;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
    font-family: 'Courier New', Courier, monospace;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}

.innercontainer button {
    padding: 10px 15px;
    background-color: #6b705c;
    color: white;
    border: none;
    width: 40%;
    height: 10%;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-bottom: 10px;
    font-family: 'Montserrat Alternates';
}

.innercontainer button:hover {
    background-color: #556b4a;
    cursor: pointer;
}

p {
    width: auto;
    height: 20px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}

@media (max-width: 1024px) {
    .maincontainer {
        flex-direction: column;
        padding: 3rem;
    }

    .titlecontainer h1 {
        font-size: 2.5rem;
    }

    .innercontainer {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .maincontainer {
        padding: 2rem;
    }

    .titlecontainer h1 {
        font-size: 2rem;
    }

    .innercontainer button {
        width: 80%;
    }
}

@media (max-width: 480px) {

    .maincontainer {
        padding: 1.5rem;
    }

    .titlecontainer h1 {
        font-size: 1.8rem;
    }

    .innercontainer {
        padding: 15px;
    }

    input {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.7rem;
    }
}
