@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.menu-button {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 4rem;
    background-color: #4b5d42;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

header h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

header blockquote {
    font-size: 16px;
    margin-top: 5px;
    font-style: italic;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    background-color: #4b5d42;
    border-bottom: 3px solid #cdcfc0;
    border-radius: 0 0 20px 20px;
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #cdcfc0;
    border-radius: 20px;
    background-color: #4b5d42;
    margin-bottom: 10px;
}

.links a:hover {
    background-color: #6a8160;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.text {
    text-align: center;
    margin: 30px auto;
    max-width: 800px;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
}

.text h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d5d7c5;
    color: #0e220a;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
    .links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 200px;
        background-color: #5d7452;
        width: 50%;
        text-align: center;
        border-radius: 20px;
    }

    .links a{
        text-align: center;
        border: none;
        background-color: #5d7452;
    }

    .menu-button{
        display: block;
        margin-top: 10px;
    }

    nav.active .links{
        display: flex;
    }

    p{
        margin: 0 20px;
    }

    h2{
        margin: 0 20px;
    }
}
